/*html, body{
	overflow-x:hidden;
}*/
.b-menu{
	left:0;
}
.b-clouds{
	left:0;
}
.b-content__over{
	padding-top:170px;
}
.b-tips-video, .b-tips-videos-block, .b-tips-share__vk, .b-tips-share__fb, .b-choose__property, .b-choose-property__selector, .b-choose-property__text, .b-choose-extra-carry-block, .b-choose-proposal-item.it1, .b-choose-extra-off-block, .b-header__logo-block, .b-tech-point-block__digit, .b-tech-point-block__text, .b-header__logo, .b-header__menu, .b-menu-item, .b-header-menu__item, .b-header-language, .b-five-steps-feed__img, .b-five-steps-feed-right, .b-five-steps-feed-right__mail, .b-five-steps-feed-right__more, .b-five-steps-feed-right__more_underline, .b-five-steps-feed-right__more_icon, .b-whatis-subtitle__text, .b-whatis-key__href, .b-feedback__more_mail, .b-feedback-item__full-view-text,  .b-feedback-item__full-view-arrow, .b-footer-item{
	display:inline;
	zoom:1;
}
.b-choose-property__text{
	line-height:19px;
	margin-top:-4px;
}
.property_small>.b-choose-property-selector>.b-choose-property-selector-block>.b-choose-property__text{
	width:auto;
	margin-top:6px;
}