.b-modal{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10;
    background-color:black;
    opacity:0.5;
    filter:alpha(opacity=50);
    display:none;
}
.b-popup{
    position:fixed;
    top:50%;
    left:50%;
    background:white;
    border-radius:15px;
    z-index:15;
    padding:25px;
}
.row{
    display:block;
    margin-bottom:5px;
}
span.required{
    color:red;
}
.login{
    margin-left:-103px;
    margin-top:-94px;
    display:none;
}
.restore{
    margin-left:-167px;
    margin-top:-38px;
    display:none;
}
.registration{
    margin-left:-228px;
    margin-top:-167px;
    display:none;
}
.ajax-label{
    display:block;
}