@gillC: GillSansCRegular, sans-serif;
@gillCLight: GillSansLightCRegular, sans-serif;
@gillCBold: GillSansCBold, sans-serif;
@purple: #6b5272;
@violet: #a42c9d;
@lightBlue: #0099ff;

.b-promo {
	font-family: @gillC;
	height: 1060px;
	background:  url(../i/promo.png) no-repeat center -40px;
	&__btn {
		display: block;
		width: 145px;;
		margin: 45px auto 0;
		padding: 19px 0 18px;
		border-radius: 4px;
		background: #fff;
		border: 1px solid #fff;
		box-shadow: inset 0 -18px 35px #f7f7f7, 0 5px 5px rgba(0,0,0,.05);
		font-family: @gillC;
		font-size: 15px;
		line-height: 1;
		color: @purple;
		text-transform: uppercase;
		transition: background .15s;
		text-align: center;
		
		&:hover,
		&:active,
		&:focus,
		&:visited {
			color: @purple;
		}
		&:hover {
			background: darken(#fff, 4%);
		}
		&:active {
			background: darken(#fff, 7%);
		}
	}
	&__title {
		padding-top: 90px;
		font-size: 50px;
		line-height: 1.4;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		&_mini {
			padding-top: 10px;
			font-size: 20px;
			font-family: @gillCLight;
		}
	}
	&__wrap {
		position: relative;
		background: @purple url(../i/lume.png) no-repeat -40px -385px;
		height: 1065px;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 104px;
			background:   url(../i/elips.png) no-repeat top;
		}
	}
}

.b-promo-list {
	margin-top: 360px;
	padding-left: 140px;
	&__item {
		margin-bottom: 15px;
		font-size: 22px;
		line-height: 1;
		text-transform: uppercase;
		color: #a42c9d;
	}
	&__number {
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		height: 44px;
		width: 44px;
		margin-right: 35px;
		background: url(../i/icon.png) no-repeat -20px -292px;
		text-align: center;
		padding: 11px 0;
	}
	&__text {
		vertical-align: middle;
	}
}

.b-content {
	width: 1200px;
	margin: 0 auto;
	&__under-menu {
		margin-top: 170px;
	}
}

.b-ot-technology {
	&__title {
		margin-top: 15px;
		font-size: 35px;
		line-height: 1;
		text-transform: uppercase;
		color: @violet;
		text-align: center;
		span {
			font-family: @gillCBold;
		}
	}
	&__wrap {
		padding-top: 65px;
		padding-bottom: 20px;
		background-color: #f9f9f9;
		overflow: hidden;
	}
	&__text {
		padding-top: 65px;
		font-family: Verdana, sans-serif;
		color: @violet;
		font-size: 17px;
		line-height: 1.7;
		text-align: center;
	}
	&__banner {
		margin-top: 25px;
		margin-bottom: 60px;
		width: 1800px;
		height: 584px;
		background: url(../i/optimalTemp.png) no-repeat -20px top;
	}
}

.b-goods {
	position: relative;
	z-index: 2;
	margin: 0 -20px;
	font-size: 0;
	text-align: center;
	* {
		font-size: 14px;
	}
	&__wrap {
		background: #f9f9f9;
		padding-bottom: 180px;
	}
	&__title {
		position: relative;
		margin-bottom: 90px;
		font-size: 35px;
		text-transform: uppercase;
		text-align: center;
		font-family: @gillC;
		color: @violet;
		span {
			position: relative;
			display: inline-block;
			padding: 0 70px;
			background: #f9f9f9;
			z-index: 1;
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			display: block;
			width: 100%;
			height: 1px;
			background: @violet;
		}
	}
	&__item {
		display: inline-block;
		box-sizing: border-box;
		width: 190px;
		height: 310px;
		padding-bottom: 30px;
		margin: 0 27px;
		vertical-align: top;
	}
	&__link {
		display: inline-block;
		margin-top: 15px;
		color: @lightBlue;
		font-size: 14px;
		line-height: 1.4;
	}
	&__logo {
		width: 190px;
		height: 190px;
	}
}

.b-footer-promo {
	box-sizing: border-box;
	
	&__top {
		box-sizing: border-box;
		height: 210px;
		margin-top: -211px;
		padding-top: 102px;
		background: url(../i/adress.png) center top no-repeat;
	}
	&__middle {
		background: url(../i/adressMiddle.png) center top repeat-y;
	}
	&__bottom {
		height: 140px;
		background: url(../i/adress_3.png) center top no-repeat;
	}
	&__wrap {
		position: relative;
		padding-top: 1px;
		min-height: 720px;
		background: @purple url(../i/lume.png) no-repeat 130% -360px;
	}
	&__mark {
		width: 34px;
		height: 48px;
		margin-right: 30px;
		background: url(../i/icon.png) -20px -356px no-repeat;
	}
	&__title {
		padding-left: 410px;
		font-family: @gillC;
		font-size: 35px;
		color: @violet;
		text-transform: uppercase;
		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__chosen {
		font-size: 0;
		padding-top: 6px;
		padding-left: 160px;

		.chosen-container {
			margin-right: 60px;
			width: 410px!important;
		}
	}
	&__adress {
		padding: 40px 190px 20px;
		min-height: 195px;
		&-title {
			color: @violet;
			font-size: 20px;
			line-height: 1;
			font-family: @gillC;
			text-transform: uppercase;
		}
	}
	&__list {
		margin-top: 30px;
		&-item {
			font-family: Arial, sans-serif;
			font-size: 15px;
			line-height: 1.4;
			margin-bottom: 5px;
		}
	}
	&__info {
		margin-top: 68px;
		
		&:after {
			content: '';
			display: table;
			clear: both;
		}
		&-number {
			float: left;
			width: 400px;
			padding-left: 80px;
			padding-top: 10px;
			color: #fff;
			font-family: Arial, sans-serif;
		}
		&-text {			
			float: left;
			box-sizing: border-box;
			width: 550px;
			padding-top: 10px;
			padding-left: 60px;
			padding-right: 55px;
			border-left: 2px solid #7b6483;
			color: #fff;
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.4;
		}
		&-pdf {
			float: left;
			width: 130px;
			text-align: center;
		}
	}
	&__number {
		display: block;
		margin-top: 10px;
		font-family: @gillCBold;
		font-size: 45px;
	}
	&__pdf {
		display: inline-block;
		width: 94px;
		color: #fff;
		text-transform: uppercase;
		font-family: @gillC;
		font-size: 16px;
		&-logo {
			display: block;
			margin-bottom: 10px;
			width:84px;
			height: 94px;
			background: url(../i/icon.png) no-repeat -20px -53px;
		}
	}
}

@media screen and (max-width: 1900px) {
	.b-promo {
		height: 720px;
		background:  url(../i/promo.png) no-repeat center -1274px;
		&__btn {
			width: 100px;
			margin: 30px auto 0;
			padding: 13px 0 12px;
			border-radius: 4px;
			box-shadow: inset 0 -18px 35px #f7f7f7, 0 5px 5px rgba(0,0,0,.05);
			font-size: 12px;
		}
		&__title {
			padding-top: 60px;
			font-size: 34px;
			&_mini {
				padding-top: 7px;
				font-size: 14px;
			}
		}
		&__wrap {
			background: @purple url(../i/lume_mini.png) no-repeat -40px -340px;
			height: 750px;
			&:after {
				background: url(../i/elips.png) no-repeat center -144px;
			}
		}
	}

	.b-promo-list {
		margin-top: 240px;
		padding-left: 94px;
		&__item {
			margin-bottom: 10px;
			font-size: 15px;
		}
		&__number {
			height: 30px;
			width: 30px;
			margin-right: 24px;
			background: url(../i/icon.png) no-repeat -20px -424px;
			padding: 8px 0;
		}
	}

	.b-content {
		width: 800px;
		margin: 0 auto;
		&__under-menu {
			margin-top: 145px;
		}
	}

	.b-ot-technology {
		&__title {
			margin-top: 10px;
			font-size: 24px;
		}
		&__wrap {
			padding-bottom: 14px;
			padding-top: 15px;
		}
		&__text {
			padding-top: 44px;
			font-size: 12px;
		}
		&__banner {
			margin-top: 17px;
			margin-bottom: 40px;
			width: 1200px;
			height: 390px;
			background: url(../i/optimalTemp.png) no-repeat -20px -604px;
		}
	}

	.b-goods {
		* {
			font-size: 12px;
		}
		&__wrap {
			padding-bottom: 120px;
		}
		&__title {
			margin-bottom: 60px;
			font-size: 24px;
			span {
				padding: 0 47px;
			}
		}
		&__item {
			width: 127px;
			height: 207px;
			padding-bottom: 20px;
			margin: 0 18px;
		}
		&__link {
			margin-top: 10px;
			font-size: 11px;
		}
		&__logo {
			width: 127px;
			height: 127px;
		}
	}

	.b-footer-promo {		
		&__top {
			height: 138px;
			margin-top: -139px;
			padding-top: 68px;
			background: url(../i/adress.png) center -211px no-repeat;
		}
		&__middle {
			background: url(../i/adressMiddle_mini.png) center top repeat-y;
		}
		&__bottom {
			height: 99px;
			background: url(../i/adress_3.png) center -142px no-repeat;
		}
		&__wrap {
			position: relative;
			padding-top: 1px;
			min-height: 480px;
			background: @purple url(../i/lume_mini.png) no-repeat 130% -240px;
		}
		&__mark {
			width: 23px;
			height: 32px;
			margin-right: 20px;
			background: url(../i/icon.png) -20px -474px no-repeat;
		}
		&__title {
			padding-left: 274px;
			font-size: 24px;
		}
		&__chosen {
			font-size: 0;
			padding-top: 2px;
			padding-left: 107px;
			
			.chosen-container {
				margin-right: 40px;
				width: 274px!important;
				font-size: 14px;
				.chosen-results li {
					padding: 10px 17px!important;
				}
			}
			.chosen-single {
				height: 34px!important;
				padding: 10px 0 10px 17px!important;
				
				div b {
					background: url(../i/chosen-sprite.png) no-repeat 9px 0!important;
				}
			}
			.chosen-search input[type="text"] {
				  padding: 6px 31px 5px 3px!important;
				  background: url('../i/chosen-sprite.png') no-repeat 100% -35px!important;
			}
			.chosen-with-drop .chosen-single div b {
				background-position: -19px 0!important;
			}
		}
		&__adress {
			padding: 27px 127px 13px;
			min-height: 130px;
			&-title {
				font-size: 14px;
			}
		}
		&__list {
			margin-top: 20px;
			&-item {
				font-size: 12px;
				margin-bottom: 3px;
			}
		}
		&__info {
			margin-top: 46px;
			&-number {
				float: left;
				width: 267px;
				padding-left: 54px;
				padding-top: 7px;
			}
			&-text {			
				width: 367px;
				padding-top: 7px;
				padding-left: 40px;
				padding-right: 37px;
				font-size: 10px;
			}
			&-pdf {
				width: 87px;
			}
		}
		&__number {
			margin-top: 7px;
			font-size: 30px;
		}
		&__pdf {
			width: 63px;
			font-size: 10px;
			&-logo {
				margin-bottom: 7px;
				width: 56px;
				height: 63px;
				background: url(../i/icon.png) no-repeat -20px -209px;
			}
		}
	}
}




