.b-pagination__text{
	height:60px;
	width:100%;
	background:url('../i/ie.png') no-repeat center;
	color:transparent;
	top:0px;
	margin-top:0px;
	-ms-transform: rotate(0deg);
	transform: rotate(0deg); 
}
.b-pagination{
	padding-top:160px;
}
.b-whatis-key__back{
	filter:none;
}