.b-pagination__text{
	height:60px;
	width:100%;
	background:url('../i/ie.png') no-repeat center;
	color:transparent;
	top:0px;
	margin-top:0px;
	-ms-transform: rotate(0deg);
	transform: rotate(0deg); 
}
.b-pagination{
	padding-top:160px;
}
.b-header-language{
	margin-left:120px;
}
.b-five-steps__five-resons{
	right:55px;
}
.b-step-2__video-title{
	right:125px;
}
.b-whatis-key__back{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a5dd', endColorstr='#afd9f3',GradientType=0 );
}
.b-promo__wrap:after {
	background:   url(../i/elips.png) no-repeat top!important;
}